{% extends "./common/layout.html" %}

{% block head %}

    <link rel="stylesheet" href="/public/home/css/list.css"/>

{% endblock %}

{% block content %}

    {% include "./common/top-banner.html" %}
    {% include "./common/breadcrumb.html" %}

    {# news #}
    <section class="news">
        <div class="container">
            {% include "./common/list-transverse.html" %}
        </div>
    </section>
    {# page-list #}
    <section class="page-list">
        <div class="container">
            {# 是否有上一页 #}
            {% if page.previous %}
                <a href="/news?page={{ page.page - 1 }}">
                    <span>
                        <i class="fa fa-angle-left"></i>
                    </span>
                </a>
            {% endif %}

            {% for item in page.list %}
                {% if item.active %}
                    <a class="active" href="/news?page={{ item.page }}">
                        <span>{{ item.page }}</span>
                    </a>
                {% elif item.omit %}
                    <a >
                        <span>...</span>
                    </a>
                {% else %}
                    <a href="/news?page={{ item.page }}">
                        <span>{{ item.page }}</span>
                    </a>
                {% endif %}                  
            {% endfor %}

            {# 是否有下一页 #}
            {% if page.next %}
                <a href="/news?page={{ page.page + 1 }}">
                    <span>
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </section>

{% endblock %}