{% extends "./common/layout.html" %}

{% block head %}

    <link rel="stylesheet" href="/public/home/css/article.css"/>

{% endblock %}

{% block content %}

    {% include "./common/top-banner.html" %}
    {% include "./common/breadcrumb.html" %}

    {# article #}
    <section id="articleCont" class="article">
        <div class="container">
            <div class="col-md-12">
                {% if article.showTitle %}
                    <div class="article__title">{{ article.title }}</div>
                {% endif %}
                <div class="article__cont">{{ article.content | safe }}</div>                
            </div>
        </div>
    </section>

{% endblock %}
