{% extends "./common/layout.html" %}

{% block content %}

    {% include "./common/top-banner.html" %}
    {% include "./common/breadcrumb.html" %}

    {# info-page #}
    <section class="info-page">
        <div class="container">
            {% for item in list %}
                <section class="info-page__part col-md-12">
                    <div class="common-title">
                        {{ item.title }}
                    </div>
                    <div class="common-cont">
                        <div class="info-page__desc">                            
                            <p>{{ item.content }}</p>
                        </div>
                        {% if item.caseUrl %}
                            <div class="read-more">
                                <a class="read-more__btn hvr-underline-from-left" href="{{ item.caseUrl }}">查看案例<i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        </div>
    </section>

{% endblock %}