{# breadcrumb #}
<section class="breadcrumb">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-list__item">
                    <a href="/">首页</a>
                    <span>|</span>
                </li>
                {% for item in breadcrumb %}
                <li class="breadcrumb-list__item">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                    <span>|</span>                
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>