{% extends "./common/layout.html" %}

{% block head %}

    <link rel="stylesheet" href="/public/home/css/team.css"/>

{% endblock %}

{% block content %}

    {% include "./common/top-banner.html" %}
    {% include "./common/breadcrumb.html" %}

    {# about-team #}
    <section class="about-team">
        <div class="container">
            <div class="col-md-6">
                <section class="about-team__part">
                    <div class="common-title">团队介绍</div>
                    <div class="common-cont">
                        <img class="team-pic" src="{{ team.teamImg }}" onerror="defaultImg()"/>
                        <p class="team-intro">{{ team.teamIntro | safe }}</p>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="about-team__part">
                    <div class="common-title">团队能力</div>
                    <div class="common-cont">
                        <div class="skills">
                        {{ team.skills.key }}
                            {% for item in team.teamSkills %}
                                <div class="skills__name">{{ item.name }}
                                    <span>
                                        {{ item.percent }}%
                                    </span>
                                </div>
                                <div class="skills__progress">
                                    <div class="progress-bar progress-bar-striped active" style="width: {{ item.percent }}%"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

{% endblock %}